<div class="main-content">
  <ul>
    <% @teams.each do |team| %>
      <%= image_tag(team.city.downcase + "-" + team.name.downcase + '.svg', :class=>"homepage-team-logo") %>
    <% end %>
  </ul>
</div>

<%= link_to "New Team", new_team_path %>
