<div>
  <h1>IGNBA Teams</h1>
</div>

<div class="main-container">
  <ul>
    <% @teams.each do |team| %>
        <li>
          <%= link_to team.name.capitalize, team %>
        </li>
    <% end %>
  </ul>
</div>

<%= link_to "New Team", new_team_path %>