<div class="homepage-main-content">
  <ul>
    <% @teams.each do |team| %>
      <%= link_to team_path(team.id) do %>
        <%= image_tag(team.city.downcase + "-" + team.name.downcase + '.svg', :class=>"homepage-team-logo") %>
      <% end %>
    <% end %>
  </ul>
</div>

<%= link_to "New Team", new_team_path %>
