<div class="card my-3">
  <% unless comment.archived? %>
    <div class="card-body">
      <p class="card-text">
        <strong>Comment:</strong>
        <%= comment.body %>
      </p>

      <p class="text-right">
        <%= link_to "Delete Comment", 
        [comment.article, comment],
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
        class: 'btn btn-danger' %>
      </p>
    </div>
  <% end %>
</div>
