<div class="announcements">
  <h2>IGNBA News</h2>
  <div class="card announcements-card">
    <% if @error %>
      <p><%= @error %></p>
    <% else %>
      <% @tweets.each do |tweet| %>
        <div class="announcement">
          <h1><%= tweet.user.screen_name %></h1>
          <p><%= tweet.full_text %></p>
        </div>
        <hr>
      <% end %>
    <% end %>
  </div> 
</div>