<div class="announcements">
    <h2>Announcements</h2>
    <div class="card announcements-card">
        <div class="announcement-one">
            <h1>Site Maintenance</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Consequuntur laborum repellat consequatur...</p>
        </div>

        <hr>

        <div class="announcement-two">
            <h1>Community Share Day</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Consequuntur laborum repellat consequatur...</p>
        </div>

        <hr>

        <div class="announcement-three">
            <h1>Upload Privacy Policy</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Consequuntur laborum repellat consequatur...</p>
        </div>
    </div> 
</div>