<div class="trending">
  <h2>Notable Players</h2>
  <div class="card trending-card">
    <div class="twitter-field">
      <%= image_tag("actor-chaplin-comedy-svgrepo-com.svg", :alt=>"logo") %>
      <div class="twitter">
        <a href="">@tegan</a>
        <p>World Peace Builder</p>
      </div>
    </div>
    <div class="twitter-field">
      <%= image_tag("anime-away-face-svgrepo-com.svg", :alt=>"logo") %>
      <div class="twitter">
        <a href="">@morgan</a>
        <p>Super Cool Project</p>
      </div>
    </div>
    <div class="twitter-field">
      <%= image_tag("artist-avatar-marilyn.svg", :alt=>"logo") %>
      <div class="twitter">
        <a href="">@kendall</a>
        <p>Life Changing App</p>
      </div>
    </div>
    <div class="twitter-field">
      <%= image_tag("indian-man-sikh-svgrepo-com.svg", :alt=>"logo") %>
      <div class="twitter">
        <a href="">@alex</a>
        <p>No Traffic Maker</p>
      </div>
    </div>
  </div>
</div>