<h1>Account Info</h1>

<ul>
  <li><%= current_user.username %></li>
  <li><%= current_user.email %></li>
  <li>Team: <%= link_to current_user.team.titleize_name, team_path(@team) %></li>
</ul>

<div>
  <%= link_to "Edit Membership", edit_user_registration_path(current_user) %>
</div>
