<h2> Results:</h2>

<ol>
  <% @players.each_with_index do |player, i| %>
    <li>
      <% if current_user.admin? %>
        <%=i%>. <%= link_to player.print_full_name, admin_team_player_path(player.team, player.id) %>
      <% else %>
        <%=i%>. <%= link_to player.print_full_name, admin_team_player_path(player.team, player.id) %>
      <% end %>
    </li>
  <% end %>
</ol>