/* Font families */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Roboto&family=Heebo&display=swap');

/* Global variables */

:root {
  --yellow: #f2bc0f;
  --dark-yellow: #ad880d;
  --green: #649173;
  --project-card-border: 2.5px solid #f2bc0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  overflow: auto;
  width: 100%;
  font-family: 'Barlow Condensed', 'Heebo', Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.container {
  height: 100vh;
  min-width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 160px 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

/* Global icon size */

img {
  height: 25px;
  width: auto;
}

ul, li {
  list-style-type: none;
}

/* Global card styling */

.card {
  border: 2px solid white;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 6px rgb(160, 160, 160);
}

/* SIDEBAR STYLING */

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 77px 325px auto;
  background-color: var(--team-color-secondary, #002D62);
  padding: 25px;
  color: white;
  min-width: 275px;
  gap: 3rem;
}

.logo-title {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 2rem;
}

.logo-title img {
  height: 90px;
  width: 75px;
  border-radius: 10%;

}

.logo-title h3 {
  padding-top: 5px;
  font-size: 4rem;
}

.sidebar > ul {
  display: grid;
  grid-template-columns: 50px 150px;
  gap: 5px;
  row-gap: 25px;
  padding-left: 10px;
  padding-bottom: 50px;
  max-height: 325px;
  font-size: 1.5rem;
  font-weight: 550;
}

li {
  align-self: center;
}

.site-info {
  align-self: start;
}

.account-nav {
  align-items: center;
}

.account-nav li a, .site-info li a {
  color: white;
  text-decoration: none;
}

.account-nav li a:hover, .site-info li a:hover {
  color: var(--team-color-tertiary)
}
/* HEADER STYLING */

.header {
  display: grid;
  grid-area: header;
  align-items: center;
  background: white;
  box-shadow: 3px 3px 6px rgb(160, 160, 160);
  padding: 1% 7.5% 7.5% 7.5%;
  min-width: 100%;
  max-width: 1000px;
}

.search-notifications {
  display: flex;
  justify-content: space-between;
}

.search-container {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 1rem;
}

.search-container input {
  width: 100%;
  background-color: rgb(248, 248, 248);
  border-radius: 1rem;
  border: none;
  text-align: start;
  padding-left: 2rem;
  padding-right: 1rem;
  font-family: 'Heebo';
}

.search-container .d-flex {
  gap: 1rem;
  width: 100%
}

.notification-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  font-size: 20px;
  font-weight: 600;
}

.name-menu {
  display: grid;
  grid-template-columns: 0.6fr 5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "avatar greeting new upload share"
  "avatar name new upload share";
  justify-items: start;
  align-items: center;
  width: 100%;
}

.name-menu .greeting {
  margin-bottom: 0;
  font-size: larger;
  padding-left: 1.5rem;
}


.name-menu-user-avatar {
  grid-area: avatar;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}


.name-menu-user-name {
  grid-area: name;
  color: var(--team-color-secondary, black);
  padding-left: 1.5rem;
}


/* Header button styling */

.new-button {
  grid-area: new;
}

.upload-button {
  grid-area: upload;
  justify-self: start;
}

.name-menu .button_to {
  grid-area: share;
  justify-self: start;
}

.name-menu button, #search-btn {
  padding: 10px;
  border-radius: 1.5rem;
  width: 100px;
  background-color: var(--team-color-secondary, #002D62);
  color: white;
  border: none;
  font-size: 17px;
  font-family: 'Roboto';
  text-align: center;
}

button:hover, #search-btn:hover {
  cursor: pointer;
  background-color: var(--team-color-tertiary, #C8102E);
}

button:active {
  background-color: var(--team-color-tertiary, #C8102E);
  transition-duration: 8ms;
  padding: 8px;
  width: 95px;
}


/* MAIN CONTENT STYLING */

.main-content {
  display: grid;
  grid-area: main;
  grid-template-areas:
  "content announcements"
  "content tweets";
  grid-template-columns: 3fr 1fr;
  gap: 25px;
  padding: 25px;
  padding-bottom: 40px;
  background: linear-gradient(to top, var(--team-color-primary), white);
}

.main-content h1 {
  font-size: 1.4rem;
}

.main-content h2 {
  font-size: 1.55rem;
}

/* Projects field styling */

.projects {
  display: grid;
  grid-area: content;
  gap: 15px;
}

/* Announcements card styling */

.announcements {
  display: grid;
  grid-template-rows: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-area: announcements;
  gap: 15px;
}

.announcements-card {
  display: grid;
  text-align: start;
  gap: 5px;
  padding: 30px;
  padding-top: 50px;
  justify-self: flex-start;
  overflow: auto; 
}

.announcements-card h1 {
  font-size: 1.1rem;
}

.announcements-card > div > p {
  color: rgb(145, 145, 145);
  font-size: 1rem;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

/* Trending card styling */

.trending {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-area: tweets;
  gap: 15px;
  align-self: flex-start;
}

.trending-card {
  text-align: start;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.trending-card div {
  display: flex;
  padding: 8px;
  align-items: center;
}

.twitter {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-left: 10px;
  align-self: flex-start;
  font-size: 1.1rem;
}

.twitter p, .twitter a {
  align-self: flex-start;
}

.twitter p {
  color: rgb(145, 145, 145);
}

.twitter a {
  color: black;
  text-decoration: none;
}

.twitter-field > img {
  width: 50px;
  height: 50px;
}

/* ROSTER TABLE */

.roster-header {
  color: white;
  width: 14.28%;
}

.roster-admin-links {
  color: white;
  text-decoration: none;
}


/* PLAYER PAGE */

.profile-photo-bg {
  position: relative;
  background-image: url('/images/player-2k-bg.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}

.profile-photo,.profile-photo-bg {
  width: 200px;
  height: 200px;
  border-radius: 50%
}

.profile-photo-bg {
  object-fit: contain;
  object-position: center;
  background-color: #ccd0d3
}

.profile-photo {
  margin: 0 auto 0 -12px;
  object-fit: cover;
  position: relative;
  z-index: 999;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.player-show-image-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.player-links {
  text-decoration: none;
  color: white;
}

.player-team-logo {
  background: var(--team-logo);
  width: 130px;
  height: 130px;
  margin: 0 auto 0 -40px;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-size: contain!important;
  position: absolute;
  z-index: 998;
  object-fit: cover;
}