/* PLAYER PAGE */

.profile-photo-bg {
    position: relative;
    background-image: url('/images/player-2k-bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  .profile-photo,.profile-photo-bg {
    width: 200px;
    height: 200px;
    border-radius: 50%
  }
  
  .profile-photo-bg {
    object-fit: contain;
    object-position: center;
    background-color: #ccd0d3
  }
  
  .profile-photo {
    margin: 0 auto 0 -12px;
    object-fit: cover;
    position: relative;
    z-index: 999;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .player-show-image-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .player-links {
    text-decoration: none;
    color: white;
  }
  
  .player-team-logo {
    background: var(--team-logo);
    width: 130px;
    height: 130px;
    margin: 0 auto 0 -40px;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: contain!important;
    position: absolute;
    z-index: 998;
    object-fit: cover;
  }
    
.player-rating-box {
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    min-width: 24px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    background: var(--player-team-color-primary);
}

@media (min-width: 1200px) {
    .player-rating-box p {
        font-size: 5rem;
        line-height: 5rem;
    }
}

.projects {
    position: relative; /* Ensure it's positioned relative so we can absolutely position children */
}

.player-rating-box {
    position: absolute; /* Absolute positioning inside the .player-profile-container */
    top: 5rem;
    left: 5rem;
    z-index: 10; /* Ensure it's above other elements */
}

.player-rating-box p {
    margin: 0;
}

.player-profile-info-list li p, .player-links-container {
    color: white;
    font-size: larger;
    text-shadow: 1px 2px 3px black;
}