/* Font families */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Roboto&family=Heebo&display=swap');


.main-container {
  display: grid;
  grid-template-rows: 110px 1fr;
  grid-template-areas: 
    "header"
    "main";
}

.homepage-main-content {
  display: flex;
  justify-content: center;
}
.homepage-main-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  width: 750px;
  gap: 15px;
  margin: 2rem;
}

/* HEADER */

.navbar {
  padding: 0 1.5rem;
}

.navbar .container-fluid {
  gap: 3rem;
}

.navbar-nav {
  gap: 2rem;
  font-size: 20px;
}

/* HEADER LOGOS */

.nba-header-logo {
  height: 75px;
  width: 125px;
}
.team-header-logo {
  height: 80px;
  width: 80px;
}

.homepage-team-logo {
  height: 100px;
  width: 100px;
}

.header-avatar {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin: 25px; 
}

.new-player-form {
  margin-top: 5rem;
  display: flex;
  height: 400px;
  align-items: center;
  justify-items: center;
  gap: 0.7rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

.player-profile-container {
  display: grid;
  justify-self: center;
  max-height: 100%;
  align-items: center;
  justify-items: center;
  margin-top: 2rem;
}

.team-page-main-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.player-profile-info-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 40px;
  width: 100%;
  padding: 1rem;
}

.player-profile-info-list li,
.team-page-main-container li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.table {
  text-align: center;
}

.admin-options {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

.admin-options ul {
  list-style-type: none;
}

.admin-options li {
  padding: 10px;
}

.admin-options a {
  text-decoration: none;
  color: #000;
}

.admin-options a:hover {
  text-decoration: underline;
}


/* ARTICLES INDEX */

.fh5co_hover_news_img {
  position: relative;
  overflow: hidden;
  height: 300px; /* Set the height you desire */
  border: 5px solid #fff; /* White padding around the image */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* A subtle shadow effect */
}

.fh5co_hover_news_img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the div without stretching */
  transition: transform 0.5s;
}

.fh5co_hover_news_img:hover img {
  transform: scale(1.1);
}

.image_text_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Makes the whole area clickable */
  padding: 20px;
  color: #fff;
  background: rgba(0,0,0,0.6);
  transition: background 0.5s;
}

.fh5co_hover_news_img:hover .image_text_overlay {
  background: rgba(0,0,0,0.8);
}

/* Increase the size of the text */
.fh5co_magna {
  font-size: 24px; 
}

.fh5co_mini_time {
  font-size: 18px;
}

.fh5co_consectetur {
  font-size: 16px;
}

/* ARTICLE SHOW */

.article-header {
  width: 100%;
  height: 500px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
}

.article-header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.header-content {
  position: relative;
  z-index: 1;
}

.article-header h1 {
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  animation: slideInLeft 1s;
}

.article-meta {
  font-size: 1.2em;
  margin-top: 0.5em;
  animation: slideInRight 1s;
}

.article-content {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  font-size: 1.2em;
  line-height: 1.6;
  border-radius: 15px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}

.article-content:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.admin-actions {
  display: flex;
  justify-content: flex-end;
  margin: 2em 0;
}

.admin-action-button {
  margin-left: 1em;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: #333;
  transition: background-color 0.3s;
  text-decoration: none;
}

.admin-action-button:hover {
  background-color: #666;
}

.comments {
  margin-top: 2em;
}

.comments h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

.home-button {
  display: inline-block;
  margin-top: 2em;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: #333;
  transition: background-color 0.3s;
  text-decoration: none;
}

.home-button:hover {
  background-color: #666;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* PLAYERS INDEX */

.players-list {
  width: 75%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.players-list h1 {
  text-align: center;
  margin-bottom: 20px;
}

.players-list a:hover {
  color: blue;
}

.players-list table {
  width: 100%;
  border-collapse: collapse;
}

.players-list table th,
.players-list table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.players-list table a {
  color: #333;
  text-decoration: none;
}

.players-list .pagination-wrapper {
  margin-top: 20px;
  text-align: center;
}
