/* Font families */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Roboto&family=Heebo&display=swap');

* {
  margin: 0;
  padding: 0;
}

.header-logo {
  height: 75px;
  width: 75px;
}