.trade-machine {
    font-family: Arial, sans-serif;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

header, subheader {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.teams-container {
    display: flex;
    justify-content: space-between;
}

.team-selector {
    width: 24%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.team-assets {
    margin-top: 10px;
}

.remove-button {
    background-color: transparent;
    border: none;
    width: 15px;         /* Make the button very small */
    height: 15px;        /* Make the button very small */
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
    overflow: hidden;    /* Ensure the image does not overflow the button dimensions */
}

.remove-button:hover {
    opacity: 0.7;
}

.remove-button img {
    width: 100%;
    height: auto;
    display: block;
}

.teams-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.team-selector {
    flex: 1;
    padding: 0 10px;  /* spacing between the team selectors */
    box-sizing: border-box; 
    max-width: 24%;  /* Ensures that 4 team selectors occupy one row without wrapping */
}

.table-responsive {
    overflow-x: auto;  /* Makes table horizontally scrollable if it overflows the container */
}

/* You can adjust this media query according to your layout's breakpoint */
@media (max-width: 768px) {
    .team-selector {
        max-width: 48%;  /* On smaller screens, we'll allow two team selectors per row */
    }

    .table td, .table th {
        font-size: 0.8em;  /* Decrease font-size on smaller screens */
    }
}

.trade-team-btn {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* We're setting a min-width here to ensure the button doesn't change sizes easily. Adjust as needed */
    min-width: 100px;
}

.trade-team-btn:hover {
    background-color: #e9e9e9;  /* Some hover effect */
}

.trade-team-btn:focus {
    outline: none;  /* Remove default browser focus ring */
    box-shadow: none; /* Remove Bootstrap focus shadow */
}