<turbo-stream action="replace" target="team-assets-<%= @team_number %>">
  <template>
    <% @team.players.each do |player| %>
      <div class="asset">
        <%= player.print_full_name %> 
        <%= select_tag "destination_team_for_#{player.id}", options_from_collection_for_select(Team.all, "id", "name"), prompt: "Trade to", class: "trade-destination-dropdown" %>
        <button data-action="click->trade#addAssetToTrade" data-asset-id="<%= player.id %>">Add to Trade</button>
      </div>
    <% end %>
  </template>
</turbo-stream>