<div class="trade-machine" data-controller="trade">
    <h1>Add Teams</h1>
    <h2>Select up to 4 teams</h2>

    <div class="teams-container">
        <%= render partial: "team_selector", locals: { team_number: 1 } %>
        <%= render partial: "team_selector", locals: { team_number: 2 } %>
        <%= render partial: "team_selector", locals: { team_number: 3 } %>
        <%= render partial: "team_selector", locals: { team_number: 4 } %>
    </div>

    <button id="evaluate-trade-btn" data-action="click->trade#evaluateTrade">Evaluate Trade</button>
    <div id="trade-evaluation-result"></div>
</div>